{% extends 'layout.html' %} 
{% load static %}
{% block content %}
	<br><br><br><br>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm col-8 border">
				<table id="table" class="table table-sm table-striped">
						{% if expenses %}
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Date</th>								
								<th scope="col">Payment Method</th>
								<th scope="col">Category</th>
								<th scope="col">Item</th>
								<th scope="col">Quantity</th>
								<th scope="col">Amount</th>
							</tr>
						</thead>
						{% endif %}
						<tbody>
							{% if expenses %}
							{% for expense in expenses %}
							<tr>
								<th scope="row">{{ expense.id }}</th>
								<td>{{ expense.date }}</td>
								<td>{{ expense.payment_method }}</td>
								<td>{{ expense.category }}</td>
								<td>{{ expense.item }}</td>
								<td>{{ expense.quantity }}</td>
								<td id='amont'>{{ expense.amount }} ₺</td>
							</tr>
							{% endfor %}
							{% else %}
							<!----------------           IF DO NOT DATA                  -------------------->
							<div class="alert alert-warning">
								<p class="text-center text-danger fs-3">EMPTY!</p>	
							</div>
							<!------------------------------------------------------------------------------->
							{% endif %}
						</tbody>
					</table>
					{% if expenses %}
					<div><a id="delete-button" href="{% url 'delete' %}" class="btn btn-danger">Delete Expense</a></div>
					{% endif %}

					<!----- ===== PAGINATOR ===== ----->
					<div class="container">
						{% if expenses.has_other_pages %}
						<nav aria-label="..." style="border: none; padding: 0px; margin: 0px auto;">
							<ul class="pagination justify-content-center">
								{% if expenses.has_previous %}
								<li class="page-item">
									<a class="page-link" href="?page={{expenses.previous_page_number}}" tabindex="-1" aria-disabled="true">
										<span aria-hidden="true">&laquo; Previous</span>
									</a>
								</li>
								{% else %}
								<li class="page-item disabled">
									<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
								</li>
								{% endif %}
								{% for i in expenses.paginator.page_range %}
									{% if expenses.number == i %}
									<li class="page-item active" id="active-item" aria-current="page">
										<a class="page-link" href="?page={{i}}">{{i}}</a>
									</li>
									{% else %}
									<li class="page-item">
										<a class="page-link" href="?page={{i}}">{{i}}</a>
									</li>
									{% endif %}
								{% endfor %}
								{% if expenses.has_next %}
									<li class="page-item">
										<a class="page-link" href="?page={{expenses.next_page_number}}">
											Next <span aria-hidden="true">&raquo;</span>
										</a>
									</li>
								{% else %}
									<li class="page-item disabled">
										<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
									</li>
								{% endif %}
							</ul>
						</nav>
						{% endif %}
					</div>
					<!--- ==== PAGINATOR END ==== ----->
			</div>
				<!--------------------------ADD EXPENSE--------------------------->
			<div class="col-sm-4 border">
				<div class="header"><h3>Add an Expense</h3></div>
				<form action="#" method="post">
					{% csrf_token %}
				<div class="input-group mb-3">
					<span class="input-group-text" id="basic-addon1">Payment Method</span>
					<input type="text" class="form-control" name="payment_method" aria-label="Payment_Method" aria-describedby="basic-addon1" required>
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text" id="basic-addon2">Category</span>
					<input type="text" class="form-control" name="category" aria-label="Category" aria-describedby="basic-addon2" required>
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text" id="basic-addon3">Item</span>
					<input type="text" class="form-control" name="item" aria-label="Item" aria-describedby="basic-addon3" required>
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text" id="basic-addon4">Quantity</span>
					<input type="number" class="form-control" name="quantity" aria-label="Quantity" aria-describedby="basic-addon4" required>
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text" id="basic-addon5">Amount</span>
					<input type="text" class="form-control" name="amount" aria-label="Amount" aria-describedby="basic-addon5" required>
					<span class="input-group-text">₺</span>
				</div>
				<div class="input-group mb-3">
					<button id="addExpense" class="btn btn-success mx-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Expense</button>
				</div>
				</form>
			</div>
		</div>

<!----- ====== THIS IS BAR CHART AREA ====== ------------>
		<div class="container">
		<div class="row">
			<div class="col-md">
				<canvas id="barChart" width="200" height="50"></canvas>
				<script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>
				<script>
					var ctx = document.getElementById('barChart');
					var myChart = new Chart(ctx, {
			    		type: 'bar',
			    		data: {
						labels: ['A','B','C','D', 'E'],
			        	datasets: [{
			            label: '# Values',
			            data: [25, 55, 15, 45, 63],
			            backgroundColor: [
			                'rgba(255, 99, 132, 0.2)',
			                'rgba(54, 162, 235, 0.2)',
			                'rgba(255, 206, 86, 0.2)',
			                'rgba(75, 192, 192, 0.2)',
			                'rgba(153, 102, 255, 0.2)',
			                'rgba(255, 159, 64, 0.2)',
							'rgba(16, 252, 52, 0.2 )',
			            ],
			            borderColor: [
			                'rgba(255, 99, 132, 1)',
			                'rgba(54, 162, 235, 1)',
			                'rgba(255, 206, 86, 1)',
			                'rgba(75, 192, 192, 1)',
			                'rgba(153, 102, 255, 1)',
			                'rgba(255, 159, 64, 1)',
							'rgba(16, 252, 52, 1)',
			            ],
			            borderWidth: 1
			        }]
			    },
			    options: {
			        scales: {
			            y: {
			                beginAtZero: true
			            }
			        }
			    }
			});
			</script>
			</div>
		</div>
	</div>
	</div>
{% endblock %}
