{% load static %}
<nav id="nav">
    <div class="nav-bar">
        <i class='bx bx-menu sidebarOpen' ></i>
		<span class="logo navLogo">
			<img src="{% static 'img/logo.png' %}">
			<a href="{% url 'home' %}">Expenses</a>
		</span>

        <div class="menu">
            <div class="logo-toggle">
				<span class="logo"><a href="{% url 'home' %}">Expenses</a></span>
                <i class='bx bx-x siderbarClose'></i>
            </div>

            <ul class="nav-links">
				<li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

            <div class="darkLight-searchBox">
                <div class="dark-light">
                    <i class='bx bx-moon moon'></i>
                    <i class='bx bx-sun sun'></i>
                </div>

                <div class="searchBox">
                   <div class="searchToggle">
                    <i class='bx bx-x cancel'></i>
                    <i class='bx bx-search search'></i>
                   </div>

                    <div class="search-field">
                        <input type="text" placeholder="Search...">
                        <i class='bx bx-search'></i>
                    </div>
                </div>
            </div>
        </div>
</nav>
